# Create .env file at the root of project with the following.
# System ENV is also loaded automatically
PORT=4000
JWT_SECRET="secret"
JWT_EXPIRY_MINUTES=120
CORS_ORIGIN="http://localhost:3000"
NODE_ENV="development"
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=myschema&connection_limit=5&socket_timeout=3"
BCRYPT_SALT=10
FRONTEND_ORIGIN="*" #frontend origin